body {
    background-color: black;
    padding: 0;
    margin: 0;
}

/*This is the style for our boxs' container. With it we can position and center the boxes in the browser.*/

#instrument {
    height: auto;
    width: auto;
    margin-left: 6%;
    position: absolute;
    top: 50%; 
}
/* focusing on position */
.music-note {
    position: relative;
    margin: 1px;
}
/* progressively greater the further out */
/* to the left */
#cs3, #b2{
    right: 1%;
}

#d3 {
    right: 2%;
}
#eb3, #f3 {
    right: 3%;
}
#e3, #fs3 {
    right: 4%;
}
#g3 {
    right: 5%;
}
#ab3 {
    right: 6%;
}
#a3 {
    right: 7%;
}
#bb3, #c4 {
    right: 8%;
}
#b3 {
    right: 9%;
}


/* to the right */
#a2 {
    left: 1%;
}

#ab2 {
    left: 2%;
}

#g2 {
    left: 3%;
}
#fs2, #e2 {
    left: 4%;
}
#f2, #eb2 {
    left: 5%;
}

#d2 {
    left: 6%;
}
#cs2 {
    left: 7%;
}

#c2 {
    left: 8%;
}




/*This is the style that give our music boxes shape*/
.box {
    width: 50px;
    height: 50px;
    transform:rotate(45deg)
}

/* notes initial */
.c {
    background-color: #3e181b;
    border: 3px solid #db1d2d;
}

.d {
    background-color: #422018;
    border: 3px solid #f0421c;
}

.e {
    background-color: #45391b;
    border: 3px solid #fec02d;
}

.f {
    background-color: #193c29;
    border: 3px solid #20d071;
}

.g {
    background-color: #18323e;
    border: 3px solid #1a9ddb;
}

.a {
    background-color: #331f35;
    border: 3px solid #a13fad;
}

.b {
    background-color: #43293d;
    border: 3px solid #f26fd4;
}

/* notes hover */
.c:hover {
    background-color:#661920;
    cursor: pointer;
}

.d:hover {
    background-color:#6e2819;
    cursor: pointer;
}

.e:hover {
    background-color:#735b20;
    cursor: pointer;
}

.f:hover {
    background-color:#1b613b;
    cursor: pointer;
}

.g:hover {
    background-color:#184d65;
    cursor: pointer;
}

.a:hover {
    background-color:#4e2753;
    cursor: pointer;
}

.b:hover {
    background-color:#6f3a62;
    cursor: pointer;
}

/* notes active and notes lit */
.c:active, .c.light {
    background-color:#db1d2d;
}

.d:active, .d.light {
    background-color:#f0421c;
}

.e:active, .e.light {
    background-color:#fec02d;
}

.f:active, .f.light {
    background-color:#20d071;
}

.g:active, .g.light {
    background-color:#1a9ddb;
}

.a:active, .a.light {
    background-color:#a13fad;
}

.b:active, .b.light {
    background-color:#f26fd4;
}

/* notes sharp/flat */
.c.sharp, .f.sharp {
    position: relative;
    bottom: 40px;
}

.e.flat, .a.flat, .b.flat {
    position: relative;
    top: 40px;
}

/* reset style */
#reset {
    background-color: #1a9ddb;
    left: 20%;
    top: 10%;
    text-align: center;
    position: absolute;
}

#reset:active {
    border: 3px solid #1a9ddb;
    background-color: darkblue;
}

.song {
    border: 3px solid #1a9ddb;
    background-color: #f0421c;
    text-align: center;
    margin-top: 1%;
    margin-left: 5%;
    float: left;   
}